<section class="text-center my-12 px-4 text-white">
    <h2 class="text-2xl md:text-4xl lg:text-6xl font-bold">Nuestros Cines</h2>
    <p>Encuentra el cine perfecto en tu ciudad. Explora nuestras ubicaciones.</p>
</section>