---
import { Github } from "@lucide/astro";
---

<footer class="shadow-sm bg-gray-900">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm sm:text-center text-gray-400"
      >© Cinerama 2025. - Esta no es la web oficial.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-400 sm:mt-0">
      <li>
        <a
          href="https://github.com/RaiderMr3003"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="GitHub"
          class="inline-flex items-center ml-1 hover:underline"
        >
          RaiderMr -
          <Github size={20} />
        </a>
      </li>
    </ul>
  </div>
</footer>
