---
import { Github } from "@lucide/astro";
---

<footer>
  <p class="text-white">
    © Cinerama 2025. - Esta no es la web oficial, desarrollada por
    <a
      href="https://github.com/RaiderMr3003"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="GitHub"
      class="inline-flex items-center ml-1"
    >
      RaiderMr-
      <Github size={20} />
    </a>
  </p>
</footer>
