---
import { Image } from "astro:assets";
import { Menu, X, Github } from "@lucide/astro";

import cineramaLogo from "../assets/cineramaNoBG.png";

const { currentLocale } = Astro;
---

<header id="header-nav" class="fixed top-0 w-full px-6 pt-4 pb-2 z-50 text-white text-xl">
  <div class="max-w-8xl mx-auto flex items-center justify-between gap-16">
    <a href="/">
      <Image
        class="w-50 h-auto"
        src={cineramaLogo}
        alt="cinerama logo"
        loading="eager"
      />
    </a>
    <nav id="header-menu" class="fixed w-full h-dvh inset-0 bg-black/90 md:text-xl lg:text-xl flex flex-col items-center justify-center gap-8 -translate-y-full transition-transform duration-300 target:translate-y-0 md:static md:h-[initial] md:bg-[initial] md:flex-row md:justify-between md:w-full md:translate-y-[initial]">
      <div class="flex flex-col items-center gap-8 md:flex-row">
      <a href="/" class="hover:text-[#ed0000] hover:underline transition-colors">Inicio</a>
      <a href="/#cines" class="hover:text-[#ed0000] hover:underline transition-colors">Cines</a>
      <a href="/peliculas#pelis" class="hover:text-[#ed0000] hover:underline transition-colors">Películas</a>
      <a href="/estrenos" class="hover:text-[#ed0000] hover:underline transition-colors">Estrenos</a>
      </div>
      <div>
      <button>
        <a 
				href="https://github.com/RaiderMr3003/Cinerama" 
				target="_blank" 
				rel="icon-github" 
				class="text-dark hover:text-[#ed0000] transition-colors"
				aria-label="GitHub"
			  >
				<Github size={30} />
			</a>
      </button>
      </div>
      <a href="#header-nav" class="md:hidden absolute top-6 right-6">
        <X />
      </a>
    </nav>
    <a href="#header-menu" class="md:hidden">
      <Menu />
    </a>
  </div>
</header>
