---
import { Image } from "astro:assets";
import { Menu, X, Github } from "@lucide/astro";

import cineramaLogo from "../assets/cineramaNoBG.png";
---

<header class="absolute top-0 left-0 right-0 z-50 bg-gradient-to-b from-black/80 to-transparent text-white text-xl">
  <div class="container mx-auto px-4 py-6">
    <div class="flex items-center justify-between">
      <div class="flex items-center space-x-8">
        <a href="/"
          ><Image
            class="w-50 h-auto"
            src={cineramaLogo}
            alt="cinerama logo"
            loading="eager"
          />
        </a>
        
        <nav class="hidden md:flex space-x-6">
          <a href="/" class="hover:text-[#ed0000] hover:underline transition-colors">Inicio</a>
          <a href="/cartelera" class="hover:text-[#ed0000] hover:underline transition-colors">Cartelera</a>
          <a href="/contacto" class="hover:text-[#ed0000] hover:underline transition-colors">Contáctenos</a>
        </nav>
      </div>
      <div class="hidden md:flex items-center space-x-4">
        <button class="p-2 hover:bg-white/10 rounded-full transition-colors">
          <a 
				href="https://github.com/RaiderMr3003/Cinerama" 
				target="_blank" 
				rel="icon-github" 
				class="text-dark hover:text-[#ed0000] transition-colors"
				aria-label="GitHub"
			>
				<Github size={20} />
			</a>
        </button>   
      </div>
      <button id="menu-btn" class="md:hidden text-dark hover:text-[#ed0000] transition-colors cursor-pointer">
			<Menu size={30} />
		</button>
    </div>
  </div>

  <div id="mobile-menu" class="fixed top-0 left-0 w-full h-screen bg-black/90 flex flex-col items-center justify-center gap-6 text-white transition-transform duration-300 -translate-x-full">
		<button id="close-btn" class="absolute top-6 right-8 text-white hover:text-[#ed0000] cursor-pointer">
			<X size={30} />
		</button>

		<a href="/inicio" class="hover:text-[#ed0000] transition-colors text-lg">Inicio</a>
		<a href="/cartelera" class="hover:text-[#ed0000] transition-colors text-lg">Cartelera</a>
		<a href="/contacto" class="hover:text-[#ed0000] transition-colors text-lg">Contáctenos</a>

		{/* Iconos en móviles */}
		<div class="flex gap-6">
			<a 
				href="https://github.com/RaiderMr3003/Cinerama" 
				target="_blank" 
				rel="icon-github" 
				class="hover:text-[#ed0000] transition-colors"
				>
					<Github size={30} />
			</a>
		</div>
	</div>

</header>
<script defer>
	window.onload = () => {
	const menuBtn = document.getElementById('menu-btn');
	const closeBtn = document.getElementById('close-btn');
	const mobileMenu = document.getElementById('mobile-menu');

	if (menuBtn && closeBtn && mobileMenu) {
		menuBtn.addEventListener('click', () => {
			mobileMenu.classList.remove('-translate-x-full');
		});

		closeBtn.addEventListener('click', () => {
			mobileMenu.classList.add('-translate-x-full');
		});
	}
};
</script>